#noticeCnt {
    width: 100%;
    height: 240px;
}

.ui-smile-div {
    height: 38px;
    border: 1px solid #ccc;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
}

.ui-smile-div span.fa {
    margin-top: 6px;
    margin-left: 5px;
}

.ui-smile-div span.pull-right {
    margin-top: 10px;
    margin-right: 5px;
}

.ui-file-div {
    border: 1px solid #ccc;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    position: relative;
}

.ui-file-div small {
    margin-top: 4px;
    color: #ccc;
    font-size: 15px;
}

.ui-file-div input[type=file] {
    opacity: 0;
    background-color: transparent;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#fixedSendPanel {
    position: fixed;
    bottom: 0;
    z-index: 999;
    margin: 0;
    padding: 0;
}

.ui-content {
    padding-bottom: 65px;
    padding-left: 30px;
}

.ui-img-div {
    height: 200px;
    overflow: hidden;
    border: 1px solid #ccc;
}

.ui-img-div img {
    width: 100%;
}

.newsPrev p {
    margin-top: 8px;
    margin-bottom: 0;
}

.ui-news-prev {
    padding: 25px;
}

.ui-news-prev .panel-body {
    padding: 30px;
}

.ui-prev {
    position: relative;
}

.ui-prev .ui-msg-head {
    display: inline-block;
    width: 60px;
    height: 60px;
}

.ui-prev .ui-msg-body {
    font-family: "微软雅黑";
    font-size: 13px;
    padding: 8px;
    background-color: #FFFFFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    position: absolute;

    top: 10px;

    min-height: 38px;
    min-width: 50px;
    display: inline-block;
    border: 1px solid #ccc;
}

.ui-prev .ui-msg-body .thumbnail {
    margin-bottom: 0;
    overflow: hidden;
}

.ui-prev .ui-msg-body img {
    width: 240px;
    height: 120px;
}

.ui-prev .ui-msg-body:after {
    content: "";
    display: block;
    position: absolute;
    left: -5px;
    top: 10px;
    width: 0;
    height: 0;
    border-left: 8px solid #ccc;
    border-right: 8px solid transparent;
    border-top: 8px solid transparent;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.ui-file-body {
    min-width: 200px;
    position: relative;
}

.ui-file-body #fileName {
    position: absolute;
    top: 5px;
    margin-left: 5px;
}

.ui-file-body #fileSize {
    margin-left: 5px;
    color: #c0c0c0;
}