::-webkit-scrollbar {
	width: 6px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
	background-color: #999;
}

::-webkit-scrollbar-track {
	background-color: #F5F5F5;
}

.ui-margin-top-20 {
	margin-top: 20px;
}

input.ui-inline-block[type=file],
.ui-inline-block {
	display: inline-block;
}